body {
  margin: 0;
  text-align: center;
  font-family: 'Sulphur Point', sans-serif;
}

h1 {
  color: #8aa7d4;
  font-size: 5.625rem;
  font-family: 'Lobster', cursive;
  margin:50px auto 0 auto;
}

h2 {
  color: #98ede5;
  font-family: 'Slabo 27px', serif;
  font-size: 2.5rem;
}

h3 {
  color: #ff5722;
  font-family: 'Slabo 27px', serif;
}

a{
  color: #063780;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-width:5px;
  color: #EAF6F6;
  width: 3%;
}

.top-container {
  background-color: #cadefc;
  position: relative;
  padding-top: 100px;
  height: 655px;
}

.skills{
  margin-top: 50px;
}

.bottom-container{
  background-color:#cadefc;
  padding-top: 20px;
  padding-bottom: 10px;
}

.attributes{
  margin-top: 20px;
}

.copyright{
  color: #FFFFFF;
  font-size: 0.90rem;
  margin-bottom: 50px;
  margin-top: 50px;
}

.contact-me{
  margin: 50px auto;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.second-title{
  color: #8aa7d4;
  font-size: 2.5rem;
  font-weight: normal;
}

.skill-row{
  width:50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.picture-1{
  width: 25%;
  float: left;
  padding-right: 30px;
}

.picture-2{
  width: 25%;
  float: right;
  padding-left: 30px;
}

.avatar{
  width: 20%;
  padding-top: 10px;
}

.btn {
	background-color:#8aa7d4;
	border-radius:6px;
  box-shadow: 0 1px 0 0 #f0f7fa;
  color:#ffffff;
  cursor:pointer;
  display:inline-block;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0 -1px 0 #5b6178;
}
.btn:hover {
	background-color:#ff5722;
}
.btn:active {
	position:relative;
	top:1px;
}

.bottom-p{
  margin-bottom: 50px;
}

.footer-link{
  padding: 20px;
}

.profile{
  margin: 50px auto;
}
